/bin/META-INF/AFTDEMO.kotlin_module
/bin/main/java/DemoArrayList.class
/bin/main/java/DemoComparator.class
/bin/main/java/DemoHashMap.class
/bin/main/java/DemoHashSet.class
/bin/main/java/DemoLinkedList.class
/bin/main/java/PersonComparatorGenderDescription.class
